@model ExperienceUpdateVM
@{
    ViewData["Title"] = "ExperienceUpdate";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<body>
    <div class="pagetitle">
        <h1>Update Experience</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="index">Dashboard</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Experience" asp-action="ExperienceList">Experiences</a></li>
                <li class="breadcrumb-item active">Update</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <br />
                    <form asp-area="Admin" asp-controller="Experience" asp-action="ExperienceUpdate" method="post" class="row g-12">
                        <input type="hidden" asp-for="ResumeId" />
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="RowVersion" />
                        <input type="hidden" asp-for="CreatedDate" />
                        <input type="hidden" asp-for="IsEdited" />
                        <input type="hidden" asp-for="IsPublished" />
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="col-12">
                            <label asp-for="Date" class="form-label">Date</label>
                            <input asp-for="Date" type="text" class="form-control">
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="Title" class="form-label">Title</label>
                            <input asp-for="Title" type="text" class="form-control">
                            <span asp-validation-for="Title" class="text-danger"></span>

                        </div>
                        <div class="col-6">
                            <label asp-for="Location" class="form-label">Location</label>
                            <input asp-for="Location" type="text" class="form-control">
                            <span asp-validation-for="Location" class="text-danger"></span>

                        </div>
                        <div class="col-12">
                            <label asp-for="Priorty" class="form-label">Priority</label>
                            <input asp-for="Priorty" type="number" class="form-control">
                            <span asp-validation-for="Priorty" class="text-danger"></span>

                        </div>
                     
                        <div class="text-center">
                            <br />
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</body>



