@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="pagetitle">
    <h1>Dashboard</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            @await Component.InvokeAsync("MessageResume")
            @await Component.InvokeAsync("Skill")
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">
            @await Component.InvokeAsync("Project")
        </div><!-- End Right side columns -->

    </div>
</section>


