<!DOCTYPE html>

<html>
<head>
    <title>Guild Wasr 2</title>
    <meta name="viewport" content="width=device-width" />
    <meta content="Software developer website. I have qualification with ASP.NET CORE" name="description">
    <meta content="Software, Developer, Website, Microsoft, Asp.Net Core" name="keywords">

   
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
