@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ComingSoon - Bootstrap Coming Soon Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/ComingSoon/assets/img/favicon.png" rel="icon">
    <link href="~/ComingSoon/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/ComingSoon/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/ComingSoon/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/ComingSoon/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex flex-column align-items-center">

            <h1>ComingSoon</h1>
            <h2>We're working hard to improve our website and we'll ready to launch after</h2>
            <div class="countdown d-flex justify-content-center" data-count="2024/01/01">
                <div>
                    <h3>%d</h3>
                    <h4>Days</h4>
                </div>
                <div>
                    <h3>%h</h3>
                    <h4>Hours</h4>
                </div>
                <div>
                    <h3>%m</h3>
                    <h4>Minutes</h4>
                </div>
                <div>
                    <h3>%s</h3>
                    <h4>Seconds</h4>
                </div>
            </div>

            <div >
                <a class="btn btn-outline-warning" asp-area="User" asp-controller="Dashboard" asp-action="Index">User Panel</a>
                <a class="btn btn-outline-warning" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Panel</a>
                <a class="btn btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index">Home Page</a>
            </div>

        </div>
    </header><!-- End #header -->

    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row content">
                    <div class="col-lg-6">
                        <h2>GET READY FOR GW 2 </h2>
                        <h3>Calling All Guild Wars 2 Enthusiasts! The Countdown has Begun for the Launch of Our ASP.NET Core API Consumer. Prepare to Immerse Yourself in Data-Driven Gaming Magic</h3>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        
                        <ul>
                            <li><i class="bi bi-check"></i> Prepare to Embark on an Epic Journey! 🚀 Our ASP.NET Core Guild Wars 2 API Consumer Project is Coming Soon! Stay Tuned for Exciting Updates and Developments.</li>
                            <li><i class="bi bi-check"></i> Unlock a New Realm of Possibilities with Our Upcoming ASP.NET Core Guild Wars 2 API Consumer Project! Get Ready to Dive into the World of Guild Wars 2 Like Never Before</li>
                            <li><i class="bi bi-check"></i> The Future of Guild Wars 2 Data Consumption is Almost Here! Join Us in Anticipation as We Gear Up to Launch Our ASP.NET Core Project. Your Adventure Begins Soon!</li>
                        </ul>                        
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->
     
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/ComingSoon/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/ComingSoon/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/ComingSoon/assets/js/main.js"></script>

</body>

</html>