<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Hasan Divarci</title>
    <meta content="Software developer website. I have qualification with ASP.NET CORE" name="description">
    <meta content="Software, Developer, Website, Microsoft, Asp.Net Core" name="keywords">

    <!-- Favicons -->
    <link href="~/Moderna/assets/img/favicon.png" rel="icon">
    <link href="~/Moderna/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Moderna/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Moderna/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Moderna/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Moderna/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Moderna/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Moderna/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Moderna/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Moderna/assets/css/style.css" rel="stylesheet">
</head>

<body>

    @await Component.InvokeAsync("HomePageUser")


    <main id="main">
        @RenderBody()
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Moderna/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Moderna/assets/vendor/aos/aos.js"></script>
    <script src="~/Moderna/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Moderna/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Moderna/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Moderna/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Moderna/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/Moderna/assets/vendor/php-email-form/validate.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await Component.InvokeAsync("NToastNotify")
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Template Main JS File -->
    <script src="~/Moderna/assets/js/main.js"></script>

</body>

</html>
